.header{
  &__container{
    align-items: center;
    justify-content: space-between;
  }

  &--position{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}

.nav{
  align-items: center;
  padding-right: 16px;

  &__list{
    align-items: center;
    padding-right: 32px;
    gap: 51px;
  }

  &__link{
    font-size: var(--main-size);
    color: var(--light-color);
  }

}
