<section class="partners">
  <div class="container">
    <div class="partners__container flex">
      <h2 class="partners__title">Partners</h2>
      <ul class="list-reset partners__list flex">
        <li class="partners__item">
          <a href="#" class="partners__link" target="_blank">
            <img src="../img/partner-1.jpg" loading="lazy" width="160" height="67" alt="partners icon" class="partners__logo">
          </a>
        </li>
        <li class="partners__item">
          <a href="#" class="partners__link" target="_blank">
            <img src="../img/partner-2.jpg" loading="lazy" width="160" height="67" alt="partners icon" class="partners__logo">
          </a>
        </li>
        <li class="partners__item">
          <a href="#" class="partners__link" target="_blank">
            <img src="../img/partner-3.jpg" loading="lazy" width="160" height="67" alt="partners icon" class="partners__logo">
          </a>
        </li>
        <li class="partners__item">
          <a href="#" class="partners__link" target="_blank">
            <img src="../img/partner-4.jpg" loading="lazy" width="160" height="67" alt="partners icon" class="partners__logo">
          </a>
        </li>
        <li class="partners__item">
          <a href="#" class="partners__link" target="_blank">
            <img src="../img/partner-5.jpg" loading="lazy" width="160" height="67" alt="partners icon" class="partners__logo">
          </a>
        </li>
        <li class="partners__item">
          <a href="#" class="partners__link" target="_blank">
            <img src="../img/partner-6.jpg" loading="lazy" width="160" height="67" alt="partners icon" class="partners__logo">
          </a>
        </li>
      </ul>
      <a href="#" class="partners__more">See All</a>
    </div>
  </div>
</section>
